<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e16din.ssnetworks">

    <!--TODO: add this to your application manifest-->
    <!--<application-->
        <!--android:name=".apps.SSNetworksAppliacation"-->
        <!--android:allowBackup="true"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true">-->

        <!--&lt;!&ndash;todo: VKONTAKTE &ndash;&gt;-->
        <!--<activity android:name="com.vk.sdk.VKOpenAuthActivity" />-->

        <!--<activity-->
            <!--android:name="com.vk.sdk.VKServiceActivity"-->
            <!--android:label="ServiceActivity"-->
            <!--android:theme="@style/VK.Transparent" />-->

        <!--&lt;!&ndash;todo: FACEBOOK &ndash;&gt;-->

    <!--<activity-->
        <!--android:name="com.facebook.FacebookActivity"-->
        <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->

    <!--<meta-data-->
        <!--android:name="com.facebook.sdk.ApplicationId"-->
        <!--android:value="@string/facebook_app_id"/>-->

        <!--&lt;!&ndash;todo: TWITTER &ndash;&gt;-->

        <!--&lt;!&ndash;todo: ODNOKLASSNIKI &ndash;&gt;-->

    <!--</application>-->



</manifest>
